/*https://gist.github.com/msrose/2feacb303035d11d2d05*/

body {
  margin: 0;
  /*text-transform: uppercase;*/
  background-color: #5C98C9;
}
p {
  font-size: 1.4em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  margin-bottom: 15px;
}
a {
  /*font-size: 1.75em;*/
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;

}
a:hover {
  text-decoration: none !important;
}
h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase !important;
}
h2 {
  font-size: 2.2em;
  font-weight: 700;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
h3 {
  font-size: 1.75em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


/*MOBILE SHOW AND HIDE CLASSES START
------
DO NOT TOUCH*/
.mobileHide { display: inline; } 
/* Smartphone Portrait and Landscape */ 
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 576px){ 
   .mobileHide { 
      display: none;
   }
}

.mobileShow {display: none;} 
/* Smartphone Portrait and Landscape */ 
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 576px){ 
    .mobileShow {
      display: inline;
    }
}
/*MOBILE SHOW AND HIDE CLASSES END*/


/*-----fancy link styles--------*/
/*https://codemyui.com/text-underline-effect-hover/*/
.linkUnderlineHighlight {
  position: relative;
  text-decoration: none;
  border-bottom: 1px black solid;
  display: inline-block;
  color: black;
  padding: 0 3px 0 3px;
  transition: color ease 0.3s;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}

.linkUnderlineHighlight::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: all ease 0.3s;
  }

.linkUnderlineHighlight:hover {
    color: white;
    transform: translate(0, 0px);
    background-color: transparent;
  }

.linkUnderlineHighlight:hover::after {
      height: 100%;
    }

.linkHighlight {
  position: relative;
  text-decoration: none;
  /*border-bottom: 1px black solid;*/
  display: inline-block;
  color: black;
  padding: 0 3px 0 3px;
  transition: color ease 0.3s;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 700;
}

.linkHighlight::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: black;
    transition: all ease 0.3s;
  }

.linkHighlight:hover {
    color: white;
    transform: translate(0, 0px);
    background-color: transparent;
  }

.linkHighlight:hover::after {
      height: 100%;
    }


.linkUnderlineJump {
  max-width: 1200px;
}
.linkUnderlineJump a {
  text-decoration: none;
  font-weight: 700;
  margin: 0 20px 0 0;
  position: relative;
  transition: transform .3s ease-out;
  display: inline-block;
}
.linkUnderlineJump a:hover {
  transform: translate(0, -5px);
  background-color: transparent;
}
.linkUnderlineJump a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;/* line color*/
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}
.linkUnderlineJump a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

.linkUnderlineJumpDark {
  max-width: 1200px;
}
.linkUnderlineJumpDark a {
  text-decoration: none;
  /*font-weight: 700;*/
  margin: 0 20px 0 0;
  position: relative;
  transition: transform .3s ease-out;
  display: inline-block;
}
.linkUnderlineJumpDark a:hover {
  transform: translate(0, -5px);
  background-color: transparent;
}
.linkUnderlineJumpDark a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white; /*line color*/
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}
.linkUnderlineJumpDark a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}
/*---------*/





/*--------landing page --------*/
#landing {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  position: absolute;
}

h1.fadeintext{
  line-height: 100vh;
  text-align: center;
  color: white;
  z-index: 100;
  margin:0;
  /*background-color: red;*/

  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: fadeIn;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 2.5s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
#movingDiv {
    position: fixed;
    top:0;
    left:0;
    height: 24px;
    width: 24px;
    /*background-color: white;*/
    border: 3px solid white;
    color: white;
    margin: -12px 0 0 -12px;
    border-radius: 50%;
    /*z-index: 10;*/
}
/*-----------*/







/*------different color variations-------*/
.architectureColor {
  color: #FFBC42 !important;
  /*color: black !important;*/
}
.homeColor {
  color: black !important;
}
.designColor {
  /*color: black !important;*/
  color: #DB6939 !important;
}
.funColor {
  color: #5C98C9 !important;
  /*color: black !important;*/
}
.aboutColor {
  color: black !important;
}

.architectureColorBackgroundColor {
  background-color: #FFBC42;
  /*background-color: black;*/
}
.designColorBackgroundColor {
  background-color: #DB6939;
}
.funColorBackgroundColor {
  background-color: #5C98C9;
  /*background-color: black;*/
}
.aboutColorBackgroundColor {
  background-color: white;
}
.black3pxborder {
  /*border: black 3px solid;*/
}
    
/*line color*/
.linkUnderlineJump a.architectureColor:before {
  background-color: #FFBC42; 
}
.linkUnderlineJump a.designColor:before {
  background-color: #DB6939; 
}
.linkUnderlineJump a.funColor:before {
  background-color: #5C98C9; 
}
.linkUnderlineJump a.aboutColor:before {
  background-color: black;
}

.fadeintextWorkOption a.fadeintextWorkOptionLink {
  color: white;
  /*opacity: .3;*/
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase; !important;
}
.fadeintextWorkOption a.linkArchitectureColor:hover {
  color: #FFBC42;
  opacity: 1;
}
.fadeintextWorkOption a.linkDesignColor:hover {
  color: #DB6939;
  opacity: 1;
}
.fadeintextWorkOption a.linkFunColor:hover {
  color: #5C98C9;
  opacity: 1;
}


.architectureLineColor {
  /*border-color: #FFBC42 !important;*/
  border-color: black !important;
}
.homeLineColor {
  /*border-color: black !important;*/
}
.designLineColor {
  border-color: #DB6939 !important;
}
.funLineColor {
  /*border-color: #D81159 !important;*/
  border-color: black !important;
}
.aboutLineColor {
  border-color: black !important;
}
/*------------------------*/





/*------navbar styles--------*/
.navbar-brand  {
  margin: 0;
  font-size: 4em;
  padding: 0 10px 0 20px;
  font-weight: 700;
}
.navbar{
  background-image: none;
  background-color: transparent;
  border-style: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 0 0 10px 0 ;
  margin: 0;
  z-index: 200;
}
.navbar .navbar-nav .nav-link{
  padding: 5px;
  margin: 10px 20px 0 0;
  font-size: 1.5em;
  background-color: transparent;
  font-weight: 700;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase !important;
}
.navbar .navbar-nav a.nav-link. {
  background-color: transparent;
}

.navbar .navbar-nav a.nav-link.inactive {
  opacity: 0.3;
  background-color: transparent;
}
.navbar .navbar-nav a.nav-link.inactive:hover {
  opacity: 1;
  background-color: transparent;
}
.navbar-light .navbar-toggler {
  background-color: transparent;
  padding: 10px;
  margin: 8px 20px 0px 10px;
}
.navbar-light #navbarbutton {
  padding:0;
  margin:0;
}
/*--------*/
.navbar-dark{
  background-color: black;
}
.navbar-dark .navbar-nav .nav-link{
  color: white;
  opacity: 0.3;
}
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: white !important;
  opacity: 1;
}
.navbar-dark .navbar-toggler {
  border-color: white;
  background-color: transparent;
  padding: 10px;
  margin: 8px 20px 0px 10px;
}
.navbar-dark #navbarbutton {
  color: white;
  padding:0;
  margin:0;
}
@media (min-width: 768px)  {
  /*prevents navbar links from going to next row*/
  .navbar-expand-md .navbar-collapse { 
    min-width: 500px;
    }
}
/*--------*/





/*--------pages---------*/
@media only screen and (min-width: 1441px) {
    /* really large desktop */
    .largerWrapper {
      /*max-width: 1440px;*/
      max-width: 1600px;
      margin-bottom: 100px !important;
      margin-top: 100px !important;
    }
    #landing {
      max-height: 800px;
      margin-bottom: 100px !important;
    }
    h1.fadeintext{
      line-height: 800px;
      /*limit viewport size*/
    }
    .black3pxborder {
      border: black 3px solid;
    }
    .pageTitle h1 {
      line-height: 20vh !important;
    }
    #buttonTop {
      right: 20% !important;
    }
}
@media only screen and (min-width: 769px) {
    /* tablets and desktop */
    #landing h1.fadeintext{
      font-size: 6.5em;
    }
    #buttonTop {
      right: 30px;
    }
}
@media only screen and (max-width: 768px) {
    /* mobile */
    .pageTitle h1 {
      font-size: 30px !important; 
      line-height: 150px !important;
    }
    .pageTitle {
      margin-bottom: 0 !important;
    }
    #landing h1.fadeintext{
      font-size: 20px;
    }
    .newspaperFillText3 {
      -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
      -moz-column-count: 1 !important; /* Firefox */
      column-count: 1 !important;
    }
    .newspaperFillText2 {
      -webkit-column-count: 1 !important; /* Chrome, Safari, Opera */
      -moz-column-count: 1 !important; /* Firefox */
      column-count: 1 !important;
    }
    #buttonTop {
      right: 15px;
    }
}
.largerWrapper {
  /*WRAPPER AROUND ALL CONTENT FOR LARGE DESKTOPS*/
  height: auto;
  margin: 0 auto;
  position: relative;
  background-color: white;
  padding:0 
  z-index: 300;

}
.wrapper {
  /*WRAPPER AROUND MAIN CONTENT*/
  max-width: 1000px;
  width: auto;
  height: auto%;
  margin: 0 auto;
  padding: 0 0 30px;
  position: relative;
}

.projectItemContainer {
  width: 100%;
  height: 490px;
  padding: 15px 15px 30px 15px;
  margin: 0;
  position: relative;
}
.projectItem {
  width: 100%;
  height: 100%;
  text-align:left;
  margin:0;
  padding: 0;
  position: relative;
}
.bw {
  -webkit-transition: all .65s ease;
     -moz-transition: all .65s ease;
       -o-transition: all .65s ease;
      -ms-transition: all .65s ease;
          transition: all .65s ease;
  -webkit-filter: grayscale(100%);
}
.bw:hover {
  -webkit-filter: grayscale(0%);
  opacity: 0.85;
}
.projectItemTitle {
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase !important;
}
.archived {
  margin-bottom: 100px;
  position: relative;
}
footer {
  /*margin*/
  text-align: center;
  width: 100%;
  height: 100%;
}
/*crop?? https://stackoverflow.com/questions/493296/css-display-an-image-resized-and-cropped*/
/*center https://jsbin.com/lidebapomi/edit?html,css,output*/
.projectItemImage {
  /*formerly '.crop'*/
  display: inline-block;
  position: relative;
/*  width: 100%;
  height: 220px;*/
  margin: 0 0 15px 0;
  overflow: hidden;
  border: 1px solid black;
  padding: 5px;
  /*background-color: #f8f8f8;*/
}
.projectItemImage img {
  /*max-height: 100%;  */
  /*max-width: 100%; */
/*  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0; */ 
  /*margin: auto;*/
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 220px;
  /*width: 100%;*/
  /*height: auto;*/
}
.image {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 1px #eee solid;
}
.imageCaptionLeft {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-style: italic;
}
.imageCaptionCenter {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-style: italic;
}
.imageCaptionRight {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 1.2em;
  font-style: italic;
}
.pageProjectDivContent {
  width: 100%;
  height: 100%;
  margin: 0 0 50px 0 !important;
}
.pageProjectDivHeader {
  width: 100%;
  height: 100%;
}
.newspaperFillText3 {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
  height: auto;
  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;
  column-gap: 30px;
  text-align: justify;
}
.newspaperFillText2 {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  height: auto;
  -moz-column-fill: auto; /* Firefox */
  column-fill: auto;
  column-gap: 30px;
  text-align: justify;
}
.max800width {
  max-width: 800px;
  height: auto;
  margin: 0 auto;
  position: relative;
}
.max450width {
  max-width: 450px;
}

.pageProjectTitle {
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.pageProjectTitle h1 {
  color: black;
  font-size: 4em;
  text-transform: uppercase;
}
.pageTitle {
  width: 100%;
  height: 100%;
  top: 0;
  padding: 0 20px 0 20px;
  margin:0 0 50px 0;
  text-align: center;
  text-transform: uppercase;
}
.pageTitle h1 {
  line-height: 30vh;
  font-size: 5.5em;
  text-transform: uppercase;
}
.pageTitle p {
  max-width: 300px;
  margin: 0 auto;
}
.pageProjectTableOfContentsItem {
  font-size: 1.5em;
  margin: 0 0 8px 0;
}
.normalizeDiv {
  /*use normalize div when you have columns within columns*/
  padding: 0;
  margin: 0;
}
ol#sacolakeprogramlist{
  padding-left: 20px;
}
ol#sacolakeprocesslist {
  padding-left: 20px;
  list-style: upper-alpha;
}

#aboutDiv {
  margin-bottom: 100px;
  width: 100%;
  height: 800px;
}
#buttonTop {
  display: none;
  position: fixed;
  width: 60px;
  bottom: 20px;
  /*right: 15px;*/
  z-index: 400;
  font-size: 1.2em;
  border: 1px black solid;
  outline: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  padding: 10px;
  margin: 0;
  border-radius: 3px;
  text-decoration:none;
  text-transform: uppercase;
  opacity: .3;
}

#buttonTop:hover {
  opacity: 1;
}

/*#topbutton {*/
  /*position: fixed;*/
  /*bottom: 10px;*/
  /*float: right;*/
  /*left: 15px;*/
  /*z-index: 400;*/
/*}*/

/*#topbutton button {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 100%;
  border: 1px solid black;
  padding: 15px;
  text-align: center;
  font-size: 1.1em; 
  color: black;
}*/
/*-------------*/

.slideshow {
  position: relative;
  margin: 0 auto;
  padding: 0;
}
.slideshow .container {
  margin: 0 auto;
  position: relative;
}
.slideshow button {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 2px;
  background-color: white;
  stroke: #dd5050;
  height: 30px;
  width: 30px;
}
.slideshow button:focus {
  outline: none !important;
  box-shadow: 0 0 5px #ddd;
}
.slideshow .slidedescription {
  margin-top: 5px;
  text-align: center;
  font-size: .8em;  
}

/*----responsive gallery w3schools----*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

/* Create four equal columns that sits next to each other */
.gallery3Column {
  -ms-flex: 33.33%; /* IE10 */
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 15px 0 15px;
}

.galleryImage {
  vertical-align: middle;
  margin: 15px 0 15px 0;
}


/*Responsive layout - makes a two column-layout instead of four columns */*/
@media screen and (max-width: 800px) {
  .gallery3Column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery3Column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
  }
}






/*animation */
#Logo {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 50px; right: -25%; bottom: 0; left: -25%;
  margin: 20px auto;
  display:block; 
  fill: #000;
  stroke: #000;
  stroke-miterlimit: 5;
}

.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 2.5s;
}

.Animate-Draw-portfolio {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 1.5s, 2.5s;
}

#Draw-portfolio {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-selena {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-zhen {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}

@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

/*@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}*/

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}