body {
  margin: 0;
}
p {
  font-size: 1.3em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
a {
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.5em;
  font-family:'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.75em;
  font-family: 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1.4em;
  font-family: 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}



.link-1 {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.link-1::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: #000;
    transition: all ease 0.3s;
  }

.link-1:hover {
    color: white;
  }

.link-1:hover::after {
      height: 100%;
    }


.one {
  max-width: 1200px;
}
.one a {
  text-decoration: none;
  /*font-size: 2em;*/
  font-weight: 700;
  margin: 0 20px 0 0;
  position: relative;
  transition: transform .3s ease-out;
  display: inline-block;
}
.one a:hover {
  transform: translate(0, -5px);
  background-color: transparent;
}
.one a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000; /*line color*/
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}

.one a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

/*---------*/

#landing {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  
}

.navbar #logoname {
  font-size: 3.5em;
  font-weight: 700;
}
.navbar{
  /*position: static;*/
  background-image: none;
  background-color: transparent;
  border-style: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 0;
  margin: 0;
  color: black;
}
.navbar-light .navbar-nav .nav-link{
  color: black;
  padding: 5px;
  margin: 0 18px 0 18px;
  font-size: 2em;
  background-color: transparent;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: black !important;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
  background-color: transparent;
}

/*body { overflow: hidden; background: #000; }*/

#Logo {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 50px; right: -25%; bottom: 0; left: -25%;
  margin: 20px auto;
  display:block; 
  fill: #000;
  stroke: #000;
  stroke-miterlimit: 5;
}

.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 2.5s;
}

.Animate-Draw-portfolio {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 1.5s, 2.5s;
}

#Draw-portfolio {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-selena {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-zhen {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}

@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

/*@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}*/

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}