@font-face {
  font-family: 'DIN Pro';
  src: url('fonts/DINProLight.otf');
}
@font-face {
  font-family: 'DIN Pro Medium'; 
  src: url('fonts/DINProMedium.otf'); /*URL to font*/
}

body {
  overflow: auto;
}
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
p {
  font-size: 1em;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 2.5em;
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.75em;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1.4em;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #eee;
  width: 250px;
}
a:link {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: #c64848;
  text-decoration: none;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
a:hover {
  color: #eea7a7;
  text-decoration: none;
}
a:active {
  color: #eea7a7;
  text-decoration: none;
}
a:visited {
  color: #c64848;
  text-decoration: none;
}


/*NAVBAR BEGIN*/
.navbar{
  position: static;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background-image: none;
  background-color: white;
  border-style: none;
  border-radius: 0px;
  z-index: 100;
  text-align: center;
  box-shadow: none;
}
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .open a {
  background: none;
  background-image: none;
  background-color: white;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #dd5050;
  color: #eea7a7;
}
.navbar-default .navbar-nav li a {
  color:black;
  background-color: white;
  cursor: pointer;
}
.navbar-default .navbar-nav li a:hover {
  color:#eea7a7;
}
.navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .open a:hover {
  background: none;
  background-image: none;
  background-color: white;
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ea9696;
  color:#eea7a7;
}
.navbar-default .navbar-nav .active a, .navbar-default .navbar-nav a  {
  padding-bottom: 6px;
  background-color: white;
  background-image:none;
}
.navbar .name {
  margin-top: 15px;
  font-weight: 700;
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
.navlogo {
  width: 25px;
  background-color: white;
}
.navbar-default .navbar-toggle {
  margin-right: 0;
  border-radius: 0;
}
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}
.logo img:last-child{display:none}
.logo:hover img:first-child{display:none}
.logo:hover img:last-child{display:inline-block}
.navlogo {
  margin-left: 10px;
}

.exiticon img:last-child{display:none}
.exiticon:hover img:first-child{display:none}
.exiticon:hover img:last-child{display:inline-block}
.exiticonsvg {
  width: 15px;
}

/*NAVBAR END*/



/*THUMBNAIL BEGIN*/
.thumbnailsection {
  margin: 0 20px 20px 20px auto;
}
.thumbnailsection .container {
  margin: 0 auto;
  padding: 0 auto;
}
.thumbnailsection .row {
  margin: 0 auto;
  padding: 0 auto;
}
.thumbnailsection .thumbnail {
  border-style: none;
  box-shadow: none;
  padding: 8px;
  margin: 0 auto;
}
.thumbnailsection .thumbnail img.thumbnailimg, .thumbnailsection .smallthumbnail img.thumbnailimg {
  width: 100%;
}
.thumbnailsection .thumbnail p {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  margin-top: 10px;
  text-align: center;
}
.thumbnailsection .smallthumbnail p {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  margin-top: 5px;
  font-size: .6em;
  text-align: center;
}
.thumbnailsection h1 {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  /*margin-top: 20px;*/
  margin-bottom: 50px;
}
.image {
    position:relative;    
}
.image:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background: #ffffff;
    opacity:0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.image:hover:after {
    opacity:.5;
}
/*THUMBNAIL ENG*/


/*PROJECT SECTION BEGIN*/
.projectpagesection {
  padding-left: 25px;
  padding-right: 25px;  
}
.projectpagesection .container {
  margin: 0 auto;
  position: relative;
  padding: 0;
}
.projectpagesection .projectbanner {
  border-style: none;
  box-shadow: none;
}
.projectpagesection .projectpagename {
  margin-bottom: 50px;
}
.projectpagesection .projectpagename p {
  text-align: center;
}
.projectpagesection .projectpagename h1 {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
}
.projectpagesection .projectpagerow img {
  width: 100%;
  height: auto;
}
.projectpagesection .projectpagerow p {
  text-align: justify; 
}
.projectpagesection .projectpagerow p.projectimagecaption {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: .8em;
}


/*for specific pages */
.projectpagesection p#twistshopdrawingsdescription {
  text-align: justify;  
  text-align-last: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.projectpagesection p.citrashopdrawingsdescription {
  text-align: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.projectpagesection p.centerforurbanagricultureslideshow {
  text-align: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
ul#sacolakeprogramlist li {
  list-style-type: decimal;
}
ul#sacolakeprogramlist {
  padding-left: 25px;
}
ul#sacolakeprocesslist li {
  list-style-type: upper-alpha;
}
ul#sacolakeprocesslist {
  padding-left: 25px;
}
.projectpagesection p.sacolakewellnesscenterdescriptioncenter {
  text-align: justify;  
  text-align-last: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.projectpagesection p.materialsandassemblydescriptioncenter {
  text-align: justify;  
  text-align-last: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.projectpagesection p.urbanincubatorstimulatorright {
  text-align: justify;
}
.projectpagesection p.urbanincubatorstimulatorcenter {
  text-align: justify;  
  text-align-last: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.tailordmaxwidth {
  max-width: 780px;
}
.tailordpage {
  margin-top: 20px;
}
.tailordpageborder {
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}
.hedgymaxwidth {
  max-width: 780px;
}
.hedgypage {
  margin-top: 20px;
}
.hedgypageborder {
  border-style: solid;
  border-color: #eee;
  border-width: 1px;
}
.projectpagesection p.sendthatgiftcenter {
  text-align: justify;  
  text-align-last: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
p.sendtthatgiftcheckoutmaxwidth {
  max-width: 300px;
}
.projectpagesection p.priceyakdescription {
  text-align: center;
  max-width: 500px;
  margin: auto;
  position: relative;
}
.guidelinemargin {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px #eee solid;
}
#archivesection h2 {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif; 
  text-align: left;
  margin: 0;
  padding:0;
}
#archivesection a.archiveobject {
  color: #c64848;
  text-decoration: none;
  font-family: Din Pro, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
#archivesection a.archiveobject:hover {
  color: #eea7a7;
  text-decoration: none;
}
/*PROJECT SECTION END*/


/*SLIDESHOW BEGIN*/
.slideshow {
  padding-left: 25px;
  padding-right: 25px; 
  padding-top: 25px;   
  padding-bottom: 25px; 
}
.slideshow .container {
  margin: 0 auto;
  position: relative;
}
.slideshow img {
  width: 100%;
}
.slideshow button {
  position: relative;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 2px;
  background-color: white;
  stroke: #dd5050;
  height: 30px;
  width: 30px;
}
.slideshow button:focus {
  outline: none !important;
  box-shadow: 0 0 5px #ddd;
}
.slideshow .slidedescription {
  margin-top: 5px;
  text-align: center;
  font-size: .8em;  
}
.slideshow .slidesmaxwidth {
  max-width: 900px;
  margin: auto;
  position: relative;
}
/*SLIDESHOW END*/


/*ABOUT BEGIN */
.aboutsection {
  text-align: justify;
  text-justify: inter-ideograph;
}
.aboutsection .container {
  margin: 0px auto;
  padding: 0px;
}
.aboutsection .aboutsectioncolumn {
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 50px;
}
.aboutsection img {
  border-style: none;
  box-shadow: none;
  width: 100%;
}
.aboutsection h1 {
  font-family: Din Pro Medium, 'PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
/*ABOUT END */


/*LANDING PAGE BEGIN*/
.bg {
  /* The image used */
  background-image: url("img/logo_landingpage.svg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-width: 25px;
  border-color: #ffffff;
}
#entertitle {
  position:absolute;
  margin-left: 60px; 
  margin-top: 60px;
}
.svglogo {
  width: 200px; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto; 
  position: relative; 
}
.svglogo:hover {
}
#svg-container{
  display: flex;
  align-items: center;
  height: 100%;
  overflow: none;
}
svg {
  cursor: default;
}
svg circle:hover  { 
  fill: #dd5050;
  cursor: pointer;
}
/*LANDING PAGE END*/


/*LOGO ANIMATION -- DO NOT TOUCH -- BEGIN*/
.dashed{
  stroke-dasharray: 10;
}
.path {
  stroke-dasharray: 240;
  stroke-dashoffset: 240;
  animation: dash 2.5s alternate infinite;
  animation-delay: 0s;
}
#maintitle {
  text-align: center;
  font-family: 'DINPro', 'sans serif'
}
@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 250;
  }
}
/*LOGO ANIMATION -- DO NOT TOUCH -- END*/


/*FOOTER BEGIN*/
.footer {
  position:static;
  left:0px;
  bottom:0px;
  height:auto;
  width:100%;
  background-color: white;
}
.footer p {
  text-align: center; 
  margin-top: 30px;
  margin-bottom: 10px;
}
/*FOOTER END*/




/*
svg {
  transform: translate(0%, 0%);
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#rotatespin {
  animation: spin 4s infinite linear;
}#/
/*LOGO ANIMATION -- DO NOT TOUCH -- END*/