body {
  margin: 0;
  /*text-transform: uppercase;*/
}
p {
  font-size: 1.3em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
a {
  /*font-size: 1.75em;*/
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
a:hover {
  text-decoration: none !important;
}
h1 {
  font-size: 3em;
  font-weight: 700;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h2 {
  font-size: 1.75em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 1.4em;
  font-family: 'Karla','PT Sans', 'Roboto', Arial, Helvetica, sans-serif;
}


/*MOBILE SHOW AND HIDE CLASSES START
------
DO NOT TOUCH*/
.mobileHide { display: inline; } 
/* Smartphone Portrait and Landscape */ 
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 576px){ 
   .mobileHide { 
      display: none;
   }
}

.mobileShow {display: none;} 
/* Smartphone Portrait and Landscape */ 
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 576px){ 
    .mobileShow {
      display: inline;
    }
}
/*MOBILE SHOW AND HIDE CLASSES END*/



/*.wrapper {
  max-width: 1200px;
  margin: auto;
}*/
.linkUnderlineHighlight {
  position: relative;
  text-decoration: none;
  display: inline-block;
  color: black;
  padding: 0 1px;
  transition: color ease 0.3s;
}

.linkUnderlineHighlight::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 5%;
    left: 0;
    bottom: 0;
    background-color: #000;
    transition: all ease 0.3s;
  }

.linkUnderlineHighlight:hover {
    color: white;
  }

.linkUnderlineHighlight:hover::after {
      height: 100%;
    }


.linkUnderlineJump {
  max-width: 1200px;
}
.linkUnderlineJump a {
  text-decoration: none;
  /*font-weight: 700;*/
  margin: 0 20px 0 0;
  position: relative;
  transition: transform .3s ease-out;
  display: inline-block;
}
.linkUnderlineJump a:hover {
  transform: translate(0, -5px);
  background-color: transparent;
}
.linkUnderlineJump a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000; /*line color*/
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}
.linkUnderlineJump a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

.linkUnderlineJumpDark {
  max-width: 1200px;
}
.linkUnderlineJumpDark a {
  text-decoration: none;
  /*font-weight: 700;*/
  margin: 0 20px 0 0;
  position: relative;
  transition: transform .3s ease-out;
  display: inline-block;
}
.linkUnderlineJumpDark a:hover {
  transform: translate(0, -5px);
  background-color: transparent;
}
.linkUnderlineJumpDark a:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white; /*line color*/
  content: '';
  -webkit-transform: translateY(8px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: .3s;
}
.linkUnderlineJumpDark a:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}

/*---------*/


#landing {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
}

/*#architectureLanding {
  height: 90vh;
}
#architectureProjectNames {
 background-color: #EDE5A6;
 height: auto;
}
#architectureProjectPictures {
  background-color: #498467;
  height: auto;
}
#architectureProjectDescriptions {
  background-color: #eee;
  height: auto;
}*/

@media only screen and (min-width: 769px) {
    /* tablets and desktop */
    #landing h1.fadeintext{
      font-size: 8em;
    }
}
#landing h1.fadeintext{
  line-height: 100vh;
  text-align: center;
  color: white;
  z-index: 1000;

  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: fadeIn;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 2.5s;
  -moz-animation: fadein 4s; /* Firefox */
  -webkit-animation: fadein 4s; /* Safari and Chrome */
  -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*-----*/
#movingDiv {
    position: fixed;
    top:0;
    left:0;
    height: 24px;
    width: 24px;
    /*background-color: white;*/
    border: 3px solid white;
    color: white;
    margin: -12px 0 0 -12px;
    border-radius: 50%;
}
/*---*/


/*.appear{
  color: white;
  z-index: 50;
  position: fixed;
}
.appear table {
  width: 100vw;
  height: 100vh;
}
.appear table tr {
  width: 100vw;
}
.appear td {
  width: ;
}
.appear td:hover {
  background-image: url("img/logo_landingpage.svg");
}*/

#grid {
  z-index: 10;
}
#grid .itemContainer {
  opacity: 0;
}
#grid .itemContainer:hover {
  opacity: 1;
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: fadeIn;
  animation-duration: 2s, 1s;
  animation-delay: 0s, 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}


/*--*/
.projectName {
  list-style: none;
  font-size: 3em;
}

.navbar #logoname {
  margin: 0;
  font-size: 4em;
  padding: 0 10px 0 20px;
  font-weight: 700;
}
.navbar{
  /*position: static;*/
  background-image: none;
  background-color: white;
  border-style: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 0 0 10px 0 ;
  margin: 0;
  color: black;
  z-index: 100;
}
.navbar-nav .nav-link{
  padding: 5px;
  margin: 10px 20px 0 0;
  font-size: 1.75em;
  background-color: transparent;
}
.navbar-nav a.nav-link .active {
  padding: 5px;
  margin: 10px 20px 0 0;
  font-size: 1.75em;
  background-color: transparent;
}
.navbar-light .navbar-nav .nav-link{
  color: #ddd;
}
.navbar-light .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: black !important;
}
.navbar-light .navbar-toggler {
  color: white;
  border-color: transparent;
  background-color: transparent;
  margin: 13px 20px 10px 10px;
}
#navbarbutton {
  color: white;
  padding:0;
  margin:0;
}
/*--*/
.navbar-dark{
  background-color: black;
}
.navbar-dark .navbar-nav .nav-link{
  color: #595959;
}

.navbar-dark .navbar-nav .nav-link:hover {
  background-color: transparent;
  color: white !important;
}
.navbar-dark .navbar-toggler {
  color: white;
}
.navbar-dark .navbar-toggler {
  color: transparent;
  border-color: white;
  background-color: transparent;
  padding: 10px;
  margin: 8px 20px 0px 10px;
}
/*--*/
.navdescription {
  max-width: 100px;
  justify-content: left;
  font-size: .5em;
  font-weight: 400;
}

/*NAV END*/


/*archpage*/
.wrapper {
  max-width: 1250px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
}
.projectItemContainer {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.projectItemHalf{
  padding: 10px 20px 10px 20px;
  margin:0;
}
.projectItemImage {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}

.projectItemDescription {
  max-width: 350px;
  width: 100%;
  text-align:left;
  /*margin: 0 50px 0 50px;*/
  margin:0;
  padding: 0;
}
.projectItemDescription p{
  margin-top: 20px;
}
.projectItemDescription a{
  margin-top: 20px;
}

.pageTitle {
  width: 100%;
  height: 200px;
  /*padding: 10px 20px 10px 20px;*/
  margin:0 0 50px 0;
  text-align: center;
  background-color: #000;
}
.pageTitle h1 {
  line-height: 200px;
  color: white;
}
/*archpage*/



/*
.workOptionContainer {
  height: 400px;
  width: 100%;
}*/
.itemContainer {
  margin: 0 auto;
  position: relative;
  padding: 20px;
}
#work {
  position: absolute; 
  top: 0; 
  width: 100vw; 
  height: 100vh; 
  z-index: 1; 
  padding: 0; 
  margin: 0;
}
.workHalf {
  padding:0;
  margin:0;
}
.workOptionButton {
  text-align: center;
  width: 50vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: transparent;
}
.workOptionButton:hover {
  background-color: #000;
  /*font-weight: 700;*/
}
h1.workOption {
  line-height: 100vh;
  color: #000;
  margin: 0;
  padding: 0;
}
h1.workOption:hover {
  color: white;
  /*font-weight: 700;*/
}
#allprojectslabel {
  width: 100%;
  text-align: center;
}

/*animation */
#Logo {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 50px; right: -25%; bottom: 0; left: -25%;
  margin: 20px auto;
  display:block; 
  fill: #000;
  stroke: #000;
  stroke-miterlimit: 5;
}

.Animate-Draw {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 0s, 2.5s;
}

.Animate-Draw-portfolio {
  fill-opacity: 0;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration: 1;
  
  animation-name: DrawLine, FillIn;
  animation-duration: 4s, 1s;
  animation-delay: 1.5s, 2.5s;
}

#Draw-portfolio {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-selena {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}
#Draw-zhen {
  stroke-dashArray: 1100;
  stroke-dashoffset: 1100; 
}

@keyframes DrawLine {
  to { stroke-dashOffset: 0; }
}

/*@keyframes FadeStroke {
  to { stroke-opacity: 0; }
}*/

@keyframes FillIn {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}